<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ddmo</title>
 </head>

  <body>
  
	<h1><%= title %></h1>
	<button id="close">Click Me</button>
	
	
	<script>
		const PAGE_ACCESS_TOKEN = 'EAAGmSf4ySjMBACxNfZAdxEzIPZCT6lyZAyXZCKHmM2DnRO87hH3s5rRaofImCtfTLp3198fMrntu0K5kZBa0WGbcYx4RC4CUNRRku1U3GFvsBO5ZCllHGA6FaWMeL5ZALdph3omIDBanwAW27JTM5zFYslhbqVerzPn7lglQ4vO5r26P4gvIzBb';
		senderID = '<%= sender_id %>';


		const btn = document.getElementById("close");


		btn.addEventListener("click", function(){
			postBotMessage();
      windowClose();
      
			
		});
		
		function postBotMessage(){
                var textMessage = {
                  "recipient":{
                    "id":senderID
                  },
                  "message":{
                    "text": "Thank you from webview"
                  }
                  }

                  var xhr = new XMLHttpRequest();
                  xhr.open("POST", 'https://graph.facebook.com/v5.0/me/messages?access_token='+PAGE_ACCESS_TOKEN, true);
                  xhr.setRequestHeader('Content-Type', 'application/json');
                  xhr.send(JSON.stringify(textMessage)); 

                 
      }

     function windowClose(){
                window.location.assign('https://www.messenger.com/closeWindow/?image_url=https://i1.wp.com/www.watts-innovating.com/wp-content/uploads/2018/04/thankyou.jpg?fit=2160%2C2160&ssl=1&display_text=Thankyou');
              }
	</script>

  </body>

</html>