<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ddmo</title>
 </head>

  <body>
  <script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 544769076153407;
    const senderID='';
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
            senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );
    };
 </script>
  
	<h1><%= title %></h1>
	<button id="close">Click Me</button>
	
	
	<script>
		const PAGE_ACCESS_TOKEN = 'EAAHvdu9EzD8BAIT9osyxZCFzwZA92j2ZAhoJdr507FAXnwG9fwrej1teYWAASR238GmQfjSdog8ewEIfU0HkNecQekEYQxHjTZAOa1zEaLQjRjRszrsUqIG1nc6VxCQ7VZChalJuVvoIFBBKMlId6KjtbeIpZACrjZBLfSkgencYAZDZD';
   
		const btn = document.getElementById("close");
    btn.addEventListener("click", function(){
         windowShut();
      });

     function windowShut(){
      MessengerExtensions.requestCloseBrowser(function success() {
        postBotMessage()
      }, function error(err) {
        alert(err)
      });
    }
		
		function postBotMessage(){
                var textMessage = {
                  "recipient":{
                    "id":senderID
                  },
                  "message":{
                    "text": "Thank you from webview"
                  }
                  }

                  var xhr = new XMLHttpRequest();
                  xhr.open("POST", 'https://graph.facebook.com/v5.0/me/messages?access_token='+PAGE_ACCESS_TOKEN, true);
                  xhr.setRequestHeader('Content-Type', 'application/json');
                  xhr.send(JSON.stringify(textMessage));                  
      }

    function windowClose(){
                window.location.assign('https://www.messenger.com/closeWindow/?image_url=https://i1.wp.com/www.watts-innovating.com/wp-content/uploads/2018/04/thankyou.jpg?fit=2160%2C2160&ssl=1&display_text=Thankyou');
    }


   
   


	</script>

  </body>

</html>